@import 'tailwindcss';

body {
    margin: 0;
    padding: 0;
    background-color: #44B097;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}

.header {
    background-color: #0A1D20;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
